* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* adapt other browser */
.not-arc {
  --arc-background-gradient-overlay-color1: #e57ca7ff;
  --arc-palette-backgroundExtra: #160903ff;
  --arc-background-gradient-overlay-color0: #00000000;
  --arc-background-gradient-color1: #e5dc7cff;
  --arc-palette-hover: #b06f567a;
  --arc-palette-minContrastColor: #953c1eff;
  --arc-palette-cutoutColor: #953c1eff;
  --arc-palette-foregroundTertiary: #e5967cff;
  --arc-background-gradient-color0: #e5967cff;
  --arc-palette-foregroundSecondary: #e5967cff;
  --arc-palette-title: #eee1dcff;
  --arc-palette-background: #2c1207ff;
  --arc-palette-subtitle: #7d7573ff;
  --arc-palette-maxContrastColor: #faebe6ff;
  --arc-palette-focus: #a86045ce;
  --arc-palette-foregroundPrimary: #faebe6ff;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
